* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body.dark {
    --color-header: #1a1d24;
    --color-background: #30343F;
    --color-aside: #181a20;
    --color-input: #5a5d68;
    --color-boton: #393e49;
    --color-boton-hover: #4e5565;
    --color-text: #ffffff;
}

.body.light {
    --color-header: #cccaca;
    --color-background: #eeeeee;
    --color-aside: #fafafa;
    --color-boton: #e0e0e0;
    --color-boton-hover: #bdbdbd;
    --color-text: #353535;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-header);
}

.title {
    font-size: 2rem;
    font-family: sans-serif;
    margin: 10px;
    font-weight: 600;
    color: var(--color-text);
}

.container-text {
    display: flex;
    flex: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.boton {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    gap: 10px;
    margin: 10px;
    flex-direction: row;
    border: none;
    color: var(--color-text);
    padding: 10px;
    background-color: transparent;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: var(--color-boton-hover);
    cursor: pointer;
}

.boton img {
    height: 20px;
    margin: 5px;
}

.box-container-meme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    gap: 20px;
    background-color: var(--color-background);
    height: 765px;
}

.box-text-meme {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.box-text {
    height: 40px;
    width: 400px;
    background-color: white;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.text-meme {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

.img-meme {
    width: 400px;
    height: 400px;
    background-color: black;
}

.boton-download {
    display: flex;
    flex-direction: column;
}

.download-meme {
    background-color: #630863;
    color: white;
    border: 0;
    margin-top: 35px;
    padding: 10px;
    margin-bottom: 50px;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    padding: 8px;
}

.aside-img-txt {
    width: 240px;
    background-color: var(--color-aside);
    position: absolute;
    top: 0;
    right: 0;
}

/*.seccion-imagen {
    display: none;
}*/

.title-img-texto {
    text-align: center;
    width: 100%;
    margin-bottom: 18px;
    margin-top: 18px;
    color: var(--color-text);
    font-size: 20px;

}

.opciones {
    margin-bottom: 20px;
}

.panel-opciones {
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    color: var(--color-text);
    margin-bottom: 8px;
}

.input-aside {
    width: 90%;
    height: 35px;
    margin-left: 7px;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-boton);
    color: var(--color-text);
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

.container-panel-color {
    display: flex;
}

.panel-color {
    width: 45%;
    position: relative;
    display: flex;
}

.opcion-fondo {
    width: 45%;
}

.opciones-fondo {
    height: 35px;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    background-color: var(--color-boton);
    color: var(--color-text);
}

.opciones-filtros {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 10px;
}

input[type='range'] {
    width: 95%;
    background-color: #5a5d68;
    appearance: none;
    height: 7px;
    border-radius: 8px;
    margin-top: 8px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height: 17px; 
    background: var(--color-text); 
    border-radius: 50%; 
    cursor: pointer; 
}

.boton-filtros {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 35px;
    width: 140px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    background-color: var(--color-boton-hover);
    color: var(--color-text);
}

.boton-filtros:hover {
    background-color: var(--color-boton-hover-2);
    cursor: pointer;
}

/*.eleccion-texto {
    display: none;
}*/

.panel-texto {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-a {
    background-color: val(--color-background);
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 3px;
}

textarea {
    color: white;
    font-size: 19px;
    font-weight: lighter;
    padding-top: 10px;
    padding-left: 10px;
}

.box-estilo {
    font-weight: 300;
    font-size: 12px;
    color: white;
    margin-top: 10px;
}

.panel-editor {
    margin-top: 20px;
}

.eleccion-opciones {
    background-color: var(--color-aside);
    width: 100%;
    height: 35px;
    border: 0;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
}

.eleccion-fuente {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-fuente {
    margin-top: 5px;
    background-color: var(--color-input);
    width: 50%;
    height: 36px;
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
}

.container-botones {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.boton-fuente {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 50%;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--color-background);
    color: (--color-boton);
    margin-top: 5px;
    margin-left: 4px;
    border: 0;
    cursor: pointer;
}

.color-texto {
    display: flex;
}

.ajustes-color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.contenedor-color-texto {
    width: 50%;
}

.input-font {
    height: 30px;
    width: 90%;
    border: 0;
    border-radius: 5px;
    padding: 0;
    color: var(--color-input)
}

.input-font value {
    color: var(--color-text);
}

.texto-fondo {
    width: 50%;
}

.input-fondo {
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 3px;
    outline: none;
}

.fondo-transparente {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.checkbox {
    border: 0;
    background-color: transparent;
    outline: 0;
}

.color-transparente {
    color: var(--color-text);
    display: flex;
    align-items: center;
    margin-top: 3px;
    font-size: 12px;
    margin-left: 2px;
}

.contorno {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.botones-contorno {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.boton-contorno {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    background-color: var(--color-boton);
    color: white;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}

.espaciado {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-espaciado {
    width: 100%;
    height: 36px;
    background-color: var(--color-background);
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
}

.interlineado {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.opcion-interlineado {
    background-color: var(--color-background);
    color: var(--color-text);
    height: 36px;
    border: 0;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
}